{% extends 'urly_bird/urly_bird_base.html' %}
{% load staticfiles %}

{% block content %}
{#    <h3>Paste your short URL here. </h3>#}
{#        <p>Welcome. Create a short url (bookmark) and link to it through /z/hash.</p>#}
{#        <p>Example: <a href="http://localhost:8000/z/9avmeG">localhost:8000/z/9avmeG</a></p>#}
    <div class="row">
        <div class="col-md-3">
            <h2>Top Bookmarks</h2>
            <ul class="list-unstyled bookmarks">
                {% for bookmark in bookmark_list %}
                <li class="li_bookmark">
                    <a class="bm-title" href="{% url 'bookmark_detail' bookmark.id %}">{{ bookmark.title }} </a>
                    <ul>
                        <li>Number of Clicks: {{ bookmark.num_clicks }}</li>
                        <li><a href="{% url 'link' bookmark.short_id %}">urly-birdie.herokuapp.com//z/{{ bookmark.short_id }}</a></li>
                        <li>Created by: <strong><a href="{% url 'any_list' bookmark.human.username %}">{{ bookmark.human }}</a></strong></li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <br>
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="{% url 'list_bookmarks' %}?page={{ page_obj.previous_page_number }}"><-Prev</a>
                {% endif %}
                {{ page_obj }}
                {% if page_obj.has_next %}
                    <a href="{% url 'list_bookmarks' %}?page={{ page_obj.next_page_number }}">Next -></a>
                {% endif %}
            {% endif %}
        </div><!-- end col-md-3 -->
{#        <div class="col-md-1"></div>#}
        <div class="col-md-5 topp">
            <!-- BOOTSTRAP FORM FROM SITE -->
            <!--                          -->
{#            {% if user.is_authenticated %}#}
{#            <form>#}
{#              <div class="form-group">#}
{#                <label for="exampleInputEmail1">Paste your long URL here</label>#}
{#                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="URL">#}
{#              </div>#}
{#              <div class="form-group">#}
{#                <label for="exampleInputPassword1">Title</label>#}
{#                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Title">#}
{#              </div>#}
{#              <div class="checkbox">#}
{#                <label>#}
{#                  <input type="checkbox"> Add description#}
{#                </label>#}
{#              </div>#}
{#              <button type="submit" class="btn btn-default btn-primary">Create</button>#}
{#            </form>#}
{#            {% else %}#}
{#                <h4>Please <a href="{% url 'login' %}">login</a> to create a bookmark.</h4>#}
{#            {% endif %}#}


        </div>
        <div class="col-md-4"></div>
    </div><!-- End row -->

{% endblock %}