{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Urly_Bird {% block title %}{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url "list_bookmarks" %}"><img width="120" height="60" src="{% static "images/urlybird-logo-black.png" %}"></a>
            </div>
            <div class="col-md-5 head3">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="{% url 'list_bookmarks' %}">Home</a></li>
                        <li role="presentation"><a href="{% url 'user_list' %}">Profile</a></li>
                        <li role="presentation"><a href="{% url 'bookmark_create' %}">Create</a></li>
                        <li role="presentation"><a href="{% url 'user_list' %}">Your URL's</a></li>
                    </ul>
            </div>
        {% if user.is_authenticated %}
{#            <div class="col-md-1"></div>#}
            <div class="col-md-3 head3" id="head3">
                <p>Hello, <strong>{{ user.username }}</strong></p>
                <p><a href="{%  url 'logout' %}">Logout</a></p>
            </div>
            <div class="col-md-2"></div>

        {% else %}
            <div class="col-md-4">
                <p>You are logged out. </p>
                <p>Click to <a href="{%  url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></p>
                <p></p>
            </div>
            <div class="col-md-1">
            </div>
        {% endif %}
{#            <div class="col-md-4">#}
{#                <p><a href="{% url 'list_bookmarks' %}">HOME</a> - Top Bookmarks</p>#}
{#                <p><a href="{% url 'bookmark_create' %}">CREATE bookmark</a></p>#}
{#            </div>#}
{#            <div class="col-md-2"></div>#}
        </div><!-- End row -->
    {% block content %}{% endblock %}
    </div><!-- End Container -->
</body>
</html>