{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmark Application</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>


{##}
{#    <div class="jumbotron">#}
{#       <h1 style="text-align: center;">Bookmark Application</h1>#}
{#      <p><a class="btn btn-primary btn-block" href="{% url 'login' %}" role="button" style="display: inline-block;" >Login</a></p>#}
{#        <p><a class="btn btn-danger btn-block" href="{% url 'register' %}" role="button" style="display: inline-block;">Register</a></p>#}
{#    </div>#}
{##}
{#    <div class="homepage_wrapper">#}
{#        <div class="login_circle">#}
{#            <p >Login</p>#}
{#        </div>#}
{#        <div class="register_circle">#}
{#            <p>Register</p>#}
{#        </div>#}
{#    </div>#}
<h1 class="doge_title">much 404, such lost...wow</h1>
<img id="doge" src="{% static 'img/doge.png' %}">
<img id="doge" src="{% static 'img/doge.png' %}">
<img id="doge" src="{% static 'img/doge.png' %}">
<img id="doge" src="{% static 'img/doge.png' %}">








</body>
</html>