{% extends 'urly_bird/urly_bird_base.html' %}

{% block content %}
<h2>Shortcut Details</h2>

    <ul>
        <li><strong>{{ bookmark.title }}</strong></li>
        <li>Created by: <a href="{% url 'any_list' bookmark.human.username %}">{{ bookmark.human }}</a></li>
        <li>Shortcut Hash: <a href="{% url 'link' bookmark.short_id %}">{{ bookmark.short_id }}</a></li>
        <li>Created at: {{ bookmark.created_at }}</li>
        <li>Description: {{ bookmark.description }}</li>
    </ul>
{% endblock %}